## Week 10 Tutorial: Data Wrangling in Python

### POP77001 Computer Programming for Social Scientists

##### Module website: [tinyurl.com/POP77001](https://tinyurl.com/POP77001)

## Loading the dataset

- Replace filepath with the location of the file on your computer

In [1]:
import pandas as pd

In [2]:
# This time let's skip the 2nd row, which contains questions
PATH = '../data/kaggle_survey_2021_responses.csv'

kaggle2021 = pd.read_csv(PATH, skiprows = [1])
kaggle2021.head(n = 1)

/tmp/ipykernel_272500/798188422.py:4: DtypeWarning: Columns (195,201) have mixed types. Specify dtype option on import or set low_memory=False.
  kaggle2021 = pd.read_csv(PATH, skiprows = [1])

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,R,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# We will load the questions as a separate dataset
kaggle2021_qs = pd.read_csv(PATH, nrows = 1)
kaggle2021_qs

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."

## Exercise 1: Summarise categorical variable

- Load the dataset (as local file)
- Consider country of residence reported by respondents (question Q3).
- Make sure you can select the column both using label and index.
- Calculate the percentages of top 3 countries of residence in the sample.

## Crosstabulation in pandas

In [4]:
# Calculate crosstabulation between 'Age group' (Q1) and 'Gender' (Q2)
pd.crosstab(kaggle2021['Q1'], kaggle2021['Q2'])

Q2      Man  Nonbinary  Prefer not to say  Prefer to self-describe  Woman
Q1
18-21  3696         16                 60                       12   1117
22-24  3643         13                 66                        9    963
25-29  3859         12                 61                        5    994
30-34  2765         17                 34                        7    618
35-39  1993          7                 42                        7    455
40-44  1537          4                 31                        1    317
45-49  1171          4                 24                        1    175
50-54   811          3                 14                        0    136
55-59   509          4                  7                        0     72
60-69   504          4                 10                        0     35
70+     110          4                  6                        0      8

## Margins in crosstab

In [5]:
# It is often useful to see the proportions/percentages rather than raw counts
pd.crosstab(kaggle2021['Q1'], kaggle2021['Q2'], normalize = 'columns')

Q2,Man,Nonbinary,Prefer not to say,Prefer to self-describe,Woman
Q1,,,,,
18-21,0.179435,0.181818,0.169014,0.285714,0.228425
22-24,0.176862,0.147727,0.185915,0.214286,0.196933
25-29,0.187348,0.136364,0.171831,0.119048,0.203272
30-34,0.134236,0.193182,0.095775,0.166667,0.126380
35-39,0.096757,0.079545,0.118310,0.166667,0.093047
40-44,0.074619,0.045455,0.087324,0.023810,0.064826
45-49,0.056850,0.045455,0.067606,0.023810,0.035787
50-54,0.039373,0.034091,0.039437,0.000000,0.027812
55-59,0.024711,0.045455,0.019718,0.000000,0.014724
60-69,0.024468,0.045455,0.028169,0.000000,0.007157
70+,0.005340,0.045455,0.016901,0.000000,0.001636

## Crosstabulation with `pivot_table`

In [6]:
# For `values` variable we use `Q3`, but any other would work equally well 
pd.pivot_table(kaggle2021, index = 'Q1', columns = 'Q2', values = 'Q3', aggfunc = 'count', fill_value = 0)

Q2      Man  Nonbinary  Prefer not to say  Prefer to self-describe  Woman
Q1
18-21  3696         16                 60                       12   1117
22-24  3643         13                 66                        9    963
25-29  3859         12                 61                        5    994
30-34  2765         17                 34                        7    618
35-39  1993          7                 42                        7    455
40-44  1537          4                 31                        1    317
45-49  1171          4                 24                        1    175
50-54   811          3                 14                        0    136
55-59   509          4                  7                        0     72
60-69   504          4                 10                        0     35
70+     110          4                  6                        0      8

## Exercise 2: Manipulating columns

- Let's take a look at the first column of the dataset.
- It lists the time it took respondents to complete the survey (in seconds).
- First, change column's long name to `duration_min`.
- Now modify the column such that it shows time in minutes.
- Filter dataset leaving only respondents who took more than 3 mins to respond.
- How many are dropped?

## Pivoting data in pandas

- Recall pivoting from R.
- The two main operations are:
    - Spreading some variable across columns (`pd.DataFrame.pivot()`)
    - Gathering some columns in a variable pair (`pd.DataFrame.melt()`)
    
<table>
    <tr>
        <td><div><img width="500" src='../imgs/pivot_wider.png'></div></td>
        <td><div><img width="500" src='../imgs/pivot_longer.png'></div></td>
    </tr>
    <tr>
        <td style="text-align:center"><h5>pd.DataFrame.pivot()</h5></td>
        <td style="text-align:center"><h5>pd.DataFrame.melt()</h5></td>
    </tr>
</table>

Source: [R for Data Science](https://r4ds.had.co.nz/tidy-data.html?q=pivot#pivoting)

## Pivoting data example

In [7]:
df_wide = pd.DataFrame({
  'country': ['Afghanistan', 'Brazil'],
  '1999': [745, 2666],
  '2000': [37737, 80488]
})
df_wide

       country  1999   2000
0  Afghanistan   745  37737
1       Brazil  2666  80488

In [8]:
# Pivoting longer
df_long = df_wide.melt(
    id_vars = 'country',
    var_name = 'year',
    value_name = 'cases'
)
df_long

       country  year  cases
0  Afghanistan  1999    745
1       Brazil  1999   2666
2  Afghanistan  2000  37737
3       Brazil  2000  80488

## Pivoting data example continued

In [9]:
# Pivoting wider
df_wide = df_long.pivot(
    index = 'country',
    columns = 'year',
    values = 'cases'
)
df_wide

year         1999   2000
country
Afghanistan   745  37737
Brazil       2666  80488

In [10]:
# As using pivot creates an index from
# the column used as the row labels, we
# may want to use reset_index to move 
# the data back into a column
df_wide.reset_index()

year      country  1999   2000
0     Afghanistan   745  37737
1          Brazil  2666  80488

## Exercise 3: Pivoting

- Try replicating Exercise 5 from Assignment 2 using pandas.
- You can use `pd.DataFrame.isna()` or `pd.DataFrame.notna()` for filtering.

## Week 10 Exercise (unassessed)

- Exercise 3: Pivoting