# Assignment 4: Data Wrangling and Classes in Python

## POP77001 Computer Programming for Social Scientists

## Before submission

- Do not use external libraries unless explicitly specified.
- Make sure that you can run all cells without errors.
- You can do it by clicking `Kernel`, `Restart & Run All` in the menu above.
- Make sure that you save the output by pressing Command+S / CTRL+S.
- Rename the file from `04_assignment.ipynb` to `04_assignment_studentnumber_firstname_lastname.ipynb`.
- Use Firefox browser for submitting your Jupyter notebook on Blackboard.

## Exercise 1: Data transformation

For exercises 1-3 we will be working with the [Titanic](https://github.com/pandas-dev/pandas/blob/master/doc/data/titanic.csv) dataset. It contains the list of passengers on Titanic with their sociodemographic characteristics, names and ticket details. First, create two new columns, called 'Last Name' and 'First Name' containing last name and first name of each passenger. Next, calculate the frequencies of passengers' last names. What were the 3 most common last names of passengers on the ship?

External libraries:
- `numpy`, `pandas`

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv")

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Exercise 1:

# Your code goes here

## Exercise 2: Binning

When analyzing a continuous variable we often want to break it up into discrete categories (bins). For example, age might be considered as a categorical variable with discrete categories of '18-25', '26-35', etc. Implement a function that takes a dataframe, variable name and cutoff points (e.g. 18, 25, 35, etc.) as inputs and returns a dataframe with a single column, which is binned into desired categories. Run this function on the age column of Titanic dataset. What percentage of passengers falls into each of the age bins?

Tip: You can use `pandas.cut()` method internally.

Function specification:

Function takes 3 arguments:
- `df` - pandas data frame
- `col` - the name of column to be binned
- `cutoffs` - a sequence of cuttoff value to be used for binning

Function returns 1 object:
- `binned_df` - pandas data frame with the selected column binned according to the specification

External libraries:
- `numpy`, `pandas`

In [ ]:
# Exercise 2:

# Your code goes here

## Exercise 3: Pattern detection

Let us consider the column `Survived`, which contains a binary indicator of whether a given passenger survived the sinking of Titanic. What factors might explain the survival of some passengers but not others? How would you investigate these relationships? Describe your hypotheses and descriptive analyses that can help answering these questions. Perform the outlined descriptive analyses on the dataset.

External libraries:
- `numpy`, `pandas`

In [ ]:
# Exercise 3:

# Your text and code go here

## Exercise 4: Methods

Given below is a simple class definition for class `Person`. At the moment the only method it has is its constructor, that takes person's first name and last name as inputs. Implement 2 additional methods for this class. One would return person's full name, another one would print it out when an object of this class is an argument to `print()` or `str()`. Create an instance of the modified class and call the first method and `print()` function on it.

Method specification:

Method 1 returns 1 object:
- `full_name` - person's full name provided as first name and last name separated by a whitespace

Method 2 returns `None` and prints out the object as:
- `full_name` - person's full name provided as first name and last name separated by a whitespace

External libraries:
- None

In [1]:
class Person(object):
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

In [ ]:
# Exercise 4:

# Your text and code go here

## Exercise 5: Inheritance

Now create an `Employee` class, which would inherit from `Person`. Add a data attribute for salary. Implement 2 methods, where (1) retrieves employee's salary and (2) gives a salary raise as a percentage of the current salary. Test both functions on an instance of this class.  

Method specification:

Method 1 returns 1 object:
- `salary` - person's annual salary provided as an integer or float

Method 2 takes 1 argument:
- `percentage` - percentage by which employee's salary should be raised

External libraries:
- None

In [ ]:
# Exercise 5:

# Your text and code go here